@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
html{

height: 100%;
scroll-behavior: smooth;

}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4238ff; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4238ff; 
  }
body{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    padding: 1em;
    header img{
        width: 25px;
        height: 25px;
        padding: 5px;

    }
}

.forPc{
    display: none;
}

header{
    //background-color: red;
    height: 45px;
    display: flex;
    position: fixed;
    background-color: white;
    padding: 10px;
    top: 0;
    width: 100%;
    left: 10px;
    nav{
       
        display: flex;
        list-style-type: none;
        clip-path: ellipse(50% 50% at -50% 50%);
       
    }
}

nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    img{
        opacity: 0;
        transform: translateX(-2px);
    }
   
}

nav ul li a{
    margin: 0px 15px;
}

.activator img{
    width: 25px;
    height: 25px;
    padding: 5px;
}

.heading{
    margin-top: -190px;
}
.heading span{
    font-size: 55px;
    font-weight: 300;
    letter-spacing: -10px;
}
.heading .bold{
    font-weight: normal;
}
.sub-heading{
    margin-top: -10px;
}
.web-developer, .frontend-developer{
    margin: 0;
 opacity: .47;
 margin-left: 5px;
}
.title{
    margin-top: 300px;
}

.social-links{
    padding: 0;
    display: flex;
   margin:0;
   width: 220px;
    list-style-type: none;
    justify-content: space-between;
    margin-left: -33px;
    margin-top: 15px;
}
.social-linkss{
   
    margin-left: 40px;
}
.title img{
    width: 25px;
    height: 25px;
}

.programming-image{
    display: none;
}

.about-profile{
    width: 200px;
    height: 200px;
   margin-top: -20px;
}
.heading-about{
    text-align: center;
}

.heading-text{
    text-align: center;
    font-size: 4rem;
}

.body-about{
    opacity: .67;
    font-size: 1.1rem;

}

.about-section{
    margin-top: -250px;
}

.ellipse{
    display: none;
}

.skills-section{
    margin-top: 100px;
}
.skills-it{
    color: #3126f8e5;
    opacity: 1;
}

.skills-link{
    color: black;
}
.project-section{
}
.project-details{
    padding: 10px;
}
.project-summary{
    padding: 10px;
    border: 2px solid  #3126f8e5;
    display: inline;
}
.project-summary:focus{
    border: 2px solid  #3126f8e5;

}
.project-info{
    font-weight: normal;
   color: rgb(77, 77, 77);
}

summary::-webkit-details-marker { font-size:0px }

.pro-img{
    width: 150px;
    height: 150px;
}
.pro-img-div{
    padding: 0;
    text-align: center;
    margin-top: 20px;
    padding: 20px 0px 0px 0px ;
    height: 100px;
    margin-bottom: 10px;
}
.project-dummy{
    display: none;
}










@media (min-width:1025px){
    
    .ellipse{
        display: block;
        height: 100px;
        width: 100px;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .container{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 60px;
   
        border: white solid 2px transparent;
        background-clip: padding-box;
        width: 1400px;
        height: 610px;
    }

    .heading span{
        font-size: 100px;
    }
    .title{
        margin-left: 100px;
        margin-top: 280px;
        
    }
    .normal{
        cursor: pointer;
    }
    .sub-heading{
     font-size: 25px;
    }
    .frontend-developer{
        font-size: 20px;
        margin-left: 10px;
       }

    .forPc{
        display: block;
        display: flex;
        position: fixed;
        z-index: 1;
        right: 0;
    
        width: 90%;
        padding: 20px;
        background-color: white;
        justify-content: flex-end;
        font-size: 22px;
        margin-top:0;
        margin-right: 40px;
        top: 0;
    }

    .forPc a{
        text-decoration: none;
        color: black;
        font-size: .8em;
    }

    header{
        display: none;
    }

    .home{
        border: 3px solid #4238ff;
        padding: 5px 10px 5px 10px;
    }
    .programming-image{
        display: block ;
        position: absolute;
        right: 30px;
        top: 23%;
        .programming{
            width: 650px;
            height: 320px;
        }
    }

    .about-section{
        margin-top: 400px;
    }



    .body-about{
        font-size: 20px;
        width: 600px;
        margin-top: -100px;
        margin-left: 200px;
    }

    .about-profile{
        position: absolute;
        width:200px ;
        height:200px;
        right: 200px;
        top: 250px;
    }

    .skills-section{
        margin-top: -100px;
    }

    .project-section{
       margin-left: 15%;
    }
   .pro-img{
       transform: scale(1.2);
       top: 250px;
       right: 120px;
 
   }

   .pro-img-div{
    width: 200px;
}


.project-info{
    margin-top: -120px;
    font-size: 1.2rem;
    width: 700px;
}


.res{
    top: 350px;
    right: 80px;
}
.for{
    top: 420px;
    right: 80px;

}
.sec{
    top: 500px;
    right: 80px;

}
.wea{
    top: 570px;
    right: 80px;

}
.app{
    top: 300px;
    right: 80px;
}

.project-dummy{
    display: block;
    width: 300px;
    height: 300px;
}



} 
































@media (max-height:500px){

    .ellipse{
        display: none;
    }
    

    .title{
        margin-top: 240px;
    }

    .sub-heading{
        margin-top: -20px;
    }
    .programming-image{
        display: block ;
        position: absolute;
        right: -25px;
        top: 30%;
        .programming{
            width: 340px;
            height: 140px;
        }
    }
    .about-section{
        margin-top: -10px;
    }
}